body {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.gallery {
  width: 50%;
}
.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
}
.selected {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 4px solid gray;
}
.selected img {
  width: 100%;
}
.imgContainer {
  width: 410px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.imgContainer img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* Product Detail Styles */
.product-detail {
  width: 50%;
}
